<%= simple_form_for([:admin, @subject]) do |f| %>
  <%= render "shared/error_messages", object: @subject %>

  <%= f.input :title %>
  <%= f.input :url %>
  <%= f.input :description %>
  <%= f.input :active %>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-lg btn-primary btn-flat" %>
  </div>
<% end %>
