<%= form_for [@examination, @answer_sheet] do |f| %>
  <%= render "shared/error_messages", object: @answer_sheet %>
  <% index = 1 %>
  <% @answer_sheet.answers.build %>
  <div class="col-md-8">
    <% @questions_by_part.each do |question_type, questions| %>
      <p>（<%= SysConst::QUESTION_TYPE_TO_STRING[question_type]%>）</p>
      <% questions.each do |question|  %>
        <b><%= "Question #{question_index(question, index)} <br>".html_safe if question_type.in?(SysConst::HAS_MANY_SUB_QUESTIONS) %></b>
        <%= image_tag(question.photo, height: '150', width: '150') if question_type == :part_one %>
        <%= audio_tag(question.audio, controls: true) if question_type.in? SysConst::LISTENING_TYPES %>
        <% question.sub_questions.each do |sub_question| %>
          <%= f.fields_for :answers do |builder| %>
            <p><%= sub_question.content if question_type.in? SysConst::READING_TYPES %></p>
            <b><%= "Question #{index}." %></b>
            <% sub_question.options.each_with_index do |option, index| %>
              <div>
                <%= builder.label :option_id, SysConst::OPTION_TO_STRING[index] %>
                <%= builder.radio_button :option_id, option.id %>
                <%= option.content %>
              </div>
            <% end %>
            <% index += 1 %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= f.hidden_field :answer_sheet_type, value: params[:answer_sheet_type] %>
  <%= f.submit "Submit", id: "submit_answer_sheet", class: "btn btn-default btn-primary" %>
<% end %>
