<%= form_for [@examination, @answer_sheet] do |f| %>
  <%= render "shared/error_messages", object: @answer_sheet %>
  <% @answer_sheet.answers.build %>
  <div class="col-md-8">
    <% @questions_by_part.each do |question_type, questions| %>
      <p>（<%= SysConst::QUESTION_TYPE_TO_STRING[question_type]%>）</p>
      <% if question_type == :part_one %>
        <% questions.each_with_index do |question, index|  %>
          <%= f.fields_for :answers do |builder| %>
            <b><%= "Question #{index+1}." %></b> <%= image_tag question.photo, height: '150', width: '150' %>
            <% question.sub_questions.first.options.each_with_index do |option, index| %>
              <div>
                <%= builder.label :option_id, SysConst::OPTION_TO_STRING[index] %>
                <%= builder.radio_button :option_id, option.id %>
                <br>
                <%#= builder.label(:option_id, option.content) if option.content %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% elsif question_type == "part_two" %>
      <% else %>
      <% end %>
    <% end %>
  </div>
  <%= f.submit "Submit", id: "submit_answer_sheet", class: "btn btn-default btn-primary" %>
<% end %>
