<%= render "shared/page_title", title: "History" %>
<% if @answer_sheets.present? %>
  <table class="table">
    <thead>
      <tr>
        <th>Tests/Lessons</th>
        <th>Type</th>
        <th>Score</th>
        <th>Test date</th>
        <th>Actions</th>
        <!-- <th>Rate</th> -->
        <!-- <th>Best score</th> -->
      </tr>
    </thead>
    <tbody>
      <% @answer_sheets.each do |answer_sheet| %>
          <tr>
            <td><%= answer_sheet.examination.id %></td>
            <td><%= answer_sheet.examination.examination_type_s %></td>
            <td><%= answer_sheet.score %>/<%= answer_sheet.examination.questions.count %></td>
            <td><%= answer_sheet.created_at.strftime('%r - %x') %></td>
            <td>
              <%= link_to "Test again", new_examination_answer_sheet_path(answer_sheet.examination) %> |
              <%= link_to "Show details", answer_sheet_path(answer_sheet) %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h1>You haven't done any test. Test now!</h1>
  <%= link_to "Available Examinations", examinations_path %>
<% end %>
