<div class="sub_questions">
  <div class="question">
    <%= f.label :content, "Question #{1}" %><br />
    <%= f.text_field :content, :rows => 3, class: "form-control" %><br />
    <%= f.fields_for :options do |option_builder| %>
      <div class="options">
        <%= option_builder.label :content, SysConst::OPTION_TO_STRING[option_builder.index] %>
        <%= option_builder.text_field :content, class: "form-control option" %>
        <%= option_builder.check_box :correct %>
      </div>
    <% end %>
  </div>
</div>
<%= link_to_remove_fields "remove question", f %>
