<%= simple_form_for([:admin, @part_six]) do |f| %>
  <%= render "shared/error_messages", object: @part_six %>

  <div class="field">
    <%= f.input :content, as: :summernote %>
  </div>

  <div class="field">
    <%= f.fields_for :sub_questions do |sub_question_builder| %>
      <div class="sub_questions">
        <div class="question">
          <%= sub_question_builder.label :content, "Question #{sub_question_builder.index + 1}" %><br />
        </div>
        <%= sub_question_builder.fields_for :options do |option_builder| %>
          <div class="options">
            <%= option_builder.label :content, SysConst::OPTION_TO_STRING[option_builder.index] %>
            <%= option_builder.text_field :content, class: "form-control option" %>
            <%= option_builder.check_box :correct %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  
  <%= render "admin/shared_form/level_field", f: f %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
