<%= render "shared/error_messages", object: @listening_lesson %>
<% [:part_one, :part_two, :part_three, :part_four].each do |question_type| %>
  <div>
      <p>（<%= SysConst::QUESTION_TYPE_TO_STRING_1[question_type]%>）</p>
  </div>
  <div>
    <% @questions[question_type].each do |question| %>
        <%= check_box_tag('question_ids[]', question.id, question.id.in?(@listening_lesson.question_ids)) %>
        Question <%= question.id %> <br>
    <% end %>
  </div>
<% end %>
<%= f.hidden_field :examination_type, value: controller_name.singularize.to_sym %>
<div class="actions">
  <%= f.submit %>
</div>
