<%= render "shared/page_title", title: "#{SysConst::QUESTION_TYPE_TO_STRING_1[controller_name.gsub("_lessons", "").to_sym]} lessons" %>
<table class="table">
  <thead>
    <tr>
      <th>Lessons</th>
      <th>Views</th>
      <th>Total of questions</th>
      <th>Point</th>
      <th>Action</th>
      <!-- <th>Rate</th> -->
      <!-- <th>Best score</th> -->
    </tr>
  </thead>
  <tbody>
    <% examinations.each do |examination| %>
        <tr>
          <td>Lesson <%= examination.id %></td>
          <td><%= examination.answer_sheets.count %></td>
          <td><%= examination.questions.count %></td>
          <td><%= examination.point %></td>
          <td>
            <%= link_to "show", Rails.application.routes.url_helpers.send("admin_#{controller_name.singularize}_path", examination) %> |
            <%= link_to "edit", Rails.application.routes.url_helpers.send("edit_admin_#{controller_name.singularize}_path", examination) %> |
            <%= link_to "delete",
                Rails.application.routes.url_helpers.send("admin_#{controller_name.singularize}_path", examination),
                method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
