<!-- Main Header -->
<header class="main-header">
  <!-- Logo -->
  <a href="/" class="logo" style="height: <%= user_signed_in? ? 51 : 88 %>px;">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>T</b>RN</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Test-Right-Now</b></span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <% if user_signed_in? %>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">

        <ul class="nav navbar-nav">
          <li>
            <%= link_to examinations_path do %>
              <i class="fa fa-sticky-note" aria-hidden="true"></i>
              <span class="hidden-xs">Half/Full Tests</span>
            <% end %>
          </li>
          <%#= link_to "Test", examinations_path, class: "btn btn-success menu-link btn-lg" %>
          <li>
            <%= link_to answer_sheets_path do %>
              <i class="fa fa-history" aria-hidden="true"></i>
              <span class="hidden-xs">History</span>
            <% end %>
          </li>
          <li>
            <%#= link_to new_point_recharging_path do %>
              <!-- <i class="fa fa-money" aria-hidden="true"></i> -->
             <!-- <span class="hidden-xs">Nạp pointspan> -->
              <!-- <span class="label label-danger"> --><%#= current_user.point %><!-- </span> -->
            <%# end %>
          </li>
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>
                <!-- inner menu: contains the messages -->
                <ul class="menu">
                  <li><!-- start message -->
                    <a href="#">
                      <div class="pull-left">
                        <!-- User Image -->
                        <img src="/assets/user2-160x160.jpg" class="img-circle" alt="User Image"/>
                      </div>
                      <!-- Message title and timestamp -->
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <!-- The message -->
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li><!-- end message -->
                </ul><!-- /.menu -->
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li><!-- /.messages-menu -->

          <!-- Notifications Menu -->
          <li class="dropdown notifications-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <!-- Inner Menu: contains the notifications -->
                <ul class="menu">
                  <li><!-- start notification -->
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li><!-- end notification -->
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <!-- Tasks Menu -->
          <li class="dropdown tasks-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">9</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 9 tasks</li>
              <li>
                <!-- Inner menu: contains the tasks -->
                <ul class="menu">
                  <li><!-- Task item -->
                    <a href="#">
                      <!-- Task title and progress text -->
                      <h3>
                        Design some buttons
                        <small class="pull-right">20%</small>
                      </h3>
                      <!-- The progress bar -->
                      <div class="progress xs">
                        <!-- Change the css width attribute to simulate progress -->
                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">20% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li><!-- end task item -->
                </ul>
              </li>
              <li class="footer">
                <a href="#">View all tasks</a>
              </li>
            </ul>
          </li>
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <% if current_user.avatar.url.present? %>
                <%= image_tag(current_user.avatar.in_avatar.url, class: "user-image") %>
              <% else %>
                <%= image_tag("http://bountytechgaming.com/uploads/avatars/avatar_4202.jpg", class: "user-image") %>
              <% end -%>
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs"><%= current_user.full_name.present? ? current_user.full_name : current_user.email %></span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <% if current_user.avatar.url.present? %>
                  <%= image_tag(current_user.avatar.in_avatar.url, class: "img-circle") %>
                <% else %>
                  <%= image_tag("http://bountytechgaming.com/uploads/avatars/avatar_4202.jpg", class: "img-circle") %>
                <% end -%>
                <p>
                  <%= current_user.full_name.present? ? current_user.full_name : current_user.email %>
                  <small>Member since <%= current_user.created_at %></small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="col-xs-4 text-center">
                  <a href="#">Followers</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Sales</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Friends</a>
                </div>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-default btn-flat" %>
                </div>
                <div class="pull-right">
                  <%= link_to "Log out", destroy_user_session_path, method: "delete", class: "btn btn-default btn-flat" %></br>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    <% else %>
      <div class="navbar-custom-menu" style="margin: 10px 0px 10px 0px">
        <%= simple_form_for(User.new, as: :user, url: session_path(:user), html: {class: "form-inline pull-right"}) do |f| %>
          <div class="form-group">
            <%= f.input :email, required: false, autofocus: true, class: "form-control", label: false, placeholder: "Your email" %>
          </div>

          <div class="form-group">
            <%= f.input :password, required: false, class: "form-control", label: false,
              placeholder: "Password" %>
          </div>
          <div class="form-group">
            <%= f.button :submit, "Sign in", class: "btn btn-default btn-flat" %>
            <%= link_to "Sign in with Facebook", omniauth_authorize_path(:user, "facebook"),
              class: "btn btn-success btn-flat" %>
          </div>

          <P></P>
          <div class="checkbox form-actions">
            <%= f.input :remember_me, as: :boolean, label: "Remember me?" %>
          </div>
          <div class="form-group">
            <%= link_to "Forgot your password?", new_password_path(:user), style: "text-decoration: underline; color: white;" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </nav>
</header>
