<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <% if user_signed_in? %>
  <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <% if current_user.avatar.url.present? %>
            <%= image_tag(current_user.avatar.in_avatar.url, class: "img-circle") %>
          <% else %>
            <%= image_tag("http://bountytechgaming.com/uploads/avatars/avatar_4202.jpg", class: "img-circle") %>
          <% end -%>
          <!-- <img src="/assets/user2-160x160.jpg" class="img-circle" alt="User Image" /> -->
        </div>
        <div class="pull-left info">
          <p><%= current_user.full_name.present? ? current_user.full_name : current_user.email %>
          <br><%= current_user.point %> points</p>
        </div>
      </div>


      <!-- search form (Optional) -->
  <!--     <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search..."/>
          <span class="input-group-btn">
            <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </form> -->
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" style="margin-top:20px">
          <!-- <ul class="nav nav-pills nav-stacked"> -->
            <% SysConst::USER_SIDE_RESOURCES_TOEIC_QUESTION_TYPES.each do |resource| %>
              <li class="<%= controller_name.in?([resource.to_s, resource.to_s.singularize + '_lessons']) ? 'active' : '' %>">
                <%= link_to SysConst::QUESTION_TYPE_TO_STRING_3[resource.to_s.singularize.to_sym],
                  Rails.application.routes.url_helpers.send("#{resource.to_s.singularize}_lessons_path") %>
              </li>
            <% end %>
            <li>
              <%= link_to "Kho từ vựng của bạn", words_user_path(current_user) %>
            </li>
            <li>
              <%= link_to "Tài liệu", toeic_documents_path %>
            </li>
          <!-- </ul><br> -->
        <!-- <li class="header">HEADER</li> -->
          <!-- Optionally, you can add icons to the links -->
  <!--       <li class="active"><a href="#"><i class='fa fa-link'></i> <span>Link</span></a></li>
        <li><a href="#"><i class='fa fa-link'></i> <span>Another Link</span></a></li>
        <li class="treeview">
          <a href="#"><i class='fa fa-link'></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li><a href="#">Link in level 2</a></li>
            <li><a href="#">Link in level 2</a></li>
          </ul>
        </li> -->
      </ul><!-- /.sidebar-menu -->
    </section>
  <% end %>
  <!-- /.sidebar -->
</aside>
<script type="text/javascript">
  $(document).ready(function() {
    $(".ssb-facebook").click(function() {
      $.post( "users/share_page", function( data ) {
      });
    });
  });
</script>
