<%= simple_form_for([:toeic, @document]) do |f| %>
  <%= render "shared/error_messages", object: @document %>

  <%= f.input :title %>
  <%= f.input :book_link %>
  <%= f.input :audio_link %>
  <%= f.input :audio_point %>
  <%= f.input :book_point %>
  <%= f.input :description %>
  <div>
    <% Subject.all.each.with_index do |subject, index| %>
        <%= check_box_tag('subject_ids[]', subject.id, subject.id.in?(@document.subject_ids)) %>
        <%= subject.title %> 
        <% if (index+1)%3 == 0 %><br><% end %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-lg btn-primary btn-flat" %>
  </div>
<% end %>
