<%= simple_form_for([:admin, @part_five]) do |f| %>
  <%= render "shared/error_messages", object: @part_five %>

  <div class="field">
    <%= f.input :content, as: :summernote %>
  </div>

  <div class="field">
    <%= f.fields_for :sub_questions do |sub_question_builder| %>
      <div class="sub_questions">
        <%= sub_question_builder.fields_for :options do |option_builder| %>
          <div class="options">
            <%= option_builder.label :content, SysConst::OPTION_TO_STRING[option_builder.index] %>
            <%= option_builder.text_field :content, class: "form-control option" %>
            <%= option_builder.check_box :correct %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
