<%= simple_form_for @part_seven_two do |f| %>
  <%= render "shared/error_messages", object: @part_seven_two %>

  <div class="field">
    <%= f.input :content, as: :summernote %>
  </div>

  <b>Level</b><%= render "shared_form/level_field", f: f %>

  <%= f.fields_for :sub_questions do |sub_question_builder| %>
    <div class="box-with-border">
      <div class="sub_questions">
        <%= sub_question_builder.label :content, "Question #{sub_question_builder.index + 1}" %>.<br />
        <%= sub_question_builder.text_field :content, :rows => 3, class: "form-control" %><br />
        <table class="table">
          <thead>
            <tr>
              <th class="option-column">Option</th>
              <th class="content-column">Content</th>
              <th class="correct-column">Correct?</th>
            </tr>
          </thead>
          <tbody>
            <%= sub_question_builder.fields_for :options do |option_builder| %>
              <tr>
                <td>
                  <%= SysConst::OPTION_TO_STRING[option_builder.index] %>
                </td>
                <td>
                  <%= option_builder.text_field :content, class: "form-control option" %>
                </td>
                <td>
                  <%= option_builder.check_box :correct %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
  <%= render "shared_form/explanation_field", f: f %>
  <div class="action">
    <%= f.submit "Submit", class: "btn btn-lg btn-success" %>
  </div>
<% end %>
