<%= render "shared/page_title", title: "Examinations" %>
<table class="table">
  <thead>
    <tr>
      <th>Tests</th>
      <th>Type</th>
      <th>Questions</th>
      <th>Points</th>
      <th>Views</th>
      <th>Actions</th>
      <!-- <th>Rate</th> -->
      <!-- <th>Best score</th> -->
    </tr>
  </thead>
  <tbody>
    <% @examinations.each do |examination| %>
        <tr>
          <td>Test <%= examination.id %></td>
          <td><%= examination.examination_type_s %></td>
          <td><%= examination.total_of_question %></td>
          <td><%= examination.point_s %></td>
          <td><%= examination.views %></td>
          <td>
            <% if current_user.bought_examination?(examination) %>
              <%= link_to "Test Now!", new_examination_answer_sheet_path(examination), class: "btn btn-primary btn-flat" %>
            <% else %>
              <%= link_to "Buy now!", buy_examination_examination_path(examination, redirect: false), method: :post, class: "btn btn-primary btn-flat" %>
              <%= link_to "Buy and test now!", buy_examination_examination_path(examination, redirect: true), method: :post, class: "btn btn-primary btn-flat" %>
            <% end %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
