<%= simple_form_for([:admin, @part_two]) do |f| %>
  <%= render "shared/error_messages", object: @part_two %>

  <div class="field">
    <%= f.label :audio, :class => 'control-label' %>
    <%= f.file_field :audio %>
  </div>

  <div class="field">
    <%= f.fields_for :sub_questions do |sub_question_builder| %>
      <div class="sub_questions">
        <%= sub_question_builder.fields_for :options do |option_builder| %>
          <div>
            <%= SysConst::PART_TWO_OPTION_TO_STRING[option_builder.index] %>
            <%= option_builder.text_field :content, class: "form-control option" %>
            <%= option_builder.check_box :correct %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <b>Level: </b>

  <%= render "admin/shared_form/level_field", f: f %>
  <%= render "admin/shared_form/explanation_field", f: f %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
