<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Test-Right-Now</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Abhaya Libre">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      body {
        font-family: 'Abhaya Libre', serif;
        font-size: 48px;
      }
    </style>
  </head>

  <body class="skin-blue sidebar-mini fixed <%= params[:controller].parameterize %> <%= action_name %>" style="font-size: 15px">
    <div id="fb-root"></div>
    <script type="text/javascript">
      $(document).ready(function() {
        var page_like_callback = function(url, html_element) {
          console.log("page_like_callback");
          $.post( "/users/like_page", function( data ) {
            location.reload();
          });
        }
        var page_unlike_callback = function(url, html_element) {
          console.log("page_unlike_callback");
          $.post( "users/unlike_page", function( data ) {
            location.reload();
          });
        }
        $.ajaxSetup({ cache: true });
        $.getScript('//connect.facebook.net/en_US/sdk.js', function(){
          FB.init({
            appId: '1584038561884421',
            version: 'v2.7' // or v2.1, v2.2, v2.3, ...
          });
          $('#loginbutton,#feedbutton').removeAttr('disabled');
          FB.Event.subscribe('edge.create', page_like_callback);
          FB.Event.subscribe('edge.remove', page_unlike_callback);
        });
      });
    </script>

    <div class="wrapper">
      <div>
        <%= render "shared/header" %>
        <%= render 'shared/left_side_bar' %>
      </div>
      <div class="content-wrapper">
        <div class="container">
          <% if user_signed_in? %>
            <div class="row">
              <div class="col-md-10">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Share website to fb(2000 points)</th>
                        <th>Like fan page(500 points)</th>
                        <th>Chia sẻ câu hỏi(200-1000 points)</th>
                        <th>Nạp point</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><%= social_share_button_tag("title", :url => "https://test-right-now.com") %></td>
                        <td>
                          <div class="fb-like" data-href="https://www.facebook.com/testrightnow/" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="false" style="width: 150px"></div>
                        </td>
                        <td>Chọn loại câu hỏi</td>
                        <td><%= link_to "Nạp point!", new_point_recharging_path, style: "text-decoration: underline; color: #3C8DBC; white-space: initial;" %></td>
                      </tr>
                    </tbody>
                  </table>
                <!-- <div class="add"> -->
                  <%#= render "layouts/share_question_button" %>
                <!-- </div> -->
                <% flash.each do |message_type, message| %>
                  <div class="alert alert-<%= message_type %> col-md-10-offset-2"><%= message %></div>
                <% end %>
                <%= yield %>
              </div>
            </div>
          <% else %>
            <section class="content">
              <% if notice %>
                <div class="alert alert-success alert-dismissable">
                  <i class="fa fa-check"></i>
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <b><%= notice %></b>
                </div>
              <% end %>

              <% if alert %>
                <div class="alert alert-danger alert-dismissable">
                  <i class="fa fa-ban"></i>
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <b><%= alert %></b>
                </div>
              <% end %>
              <%= yield %>
            </section>
          <% end %>
        </div>
        <div class="container">
          <div class="row footer">
            <div class="col-md-12">
              <%= render "shared/footer" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    $( document ).ready(function() {
      var page_like_or_unlike_callback = function(url, html_element) {
        console.log("page_like_or_unlike_callback");
        console.log(url);
        console.log(html_element);
      }
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1584038561884421',
          xfbml      : true,
          version    : 'v2.8'
        });
        // FB.AppEvents.logPageView();
        FB.Event.subscribe('edge.create', page_like_or_unlike_callback);
      };

      // In your onload handler
    });
  </script>
</html>
