<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Test-Right-Now</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="skin-blue sidebar-mini fixed <%= params[:controller].parameterize %> <%= action_name %>" style="font-size: 15px">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7&appId=1584038561884421";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="wrapper">
      <dir>
        <%= render "shared/header" %>
        <%= render 'shared/left_side_bar' %>
      </dir>
      <div class="content-wrapper">
        <div class="container">
          <% if user_signed_in? %>
            <div class="row">
              <div class="col-md-10">
                <!-- <div class="add"> -->
                  <% if controller_name.in?(SysConst::TABLE_NAME + SysConst::LESSON_TYPES.map(&:to_s)) && !action_name.in?(["new", "create"]) %>
                    <% name = controller_name.include?("lesson") ? controller_name.singularize.gsub("_lesson", "").pluralize : controller_name %>
                    <div class="page-tabs">
                      <ul class="nav nav-pills">
                          <li class="<%= (controller_name.include?('lessons') && action_name == 'index') ? 'active' : '' %>">
                            <%= link_to "Lessons", Rails.application.routes.url_helpers.send("#{name.singularize}_lessons_path") %>
                          </li>
                          <li class="<%= (!controller_name.include?('lessons') && action_name == 'index') ? 'active' : '' %>">
                            <%= link_to "Câu hỏi đã chia sẻ", Rails.application.routes.url_helpers.send("#{name}_path") %>
                          </li>
                      </ul>
                    </div>
                    <%= link_to "Chia sẻ câu hỏi của bạn", [:new, singulize_model_name(name).to_sym], class: "btn btn-primary pull-right contribute-button" %>
                  <% end %>
                <!-- </div> -->
                <% flash.each do |message_type, message| %>
                  <div class="alert alert-<%= message_type %> col-md-10-offset-2"><%= message %></div>
                <% end %>
                <%= yield %>
              </div>
            </div>
          <% else %>
            <section class="content">
              <% if notice %>
                <div class="alert alert-success alert-dismissable">
                  <i class="fa fa-check"></i>
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <b><%= notice %></b>
                </div>
              <% end %>

              <% if alert %>
                <div class="alert alert-danger alert-dismissable">
                  <i class="fa fa-ban"></i>
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <b><%= alert %></b>
                </div>
              <% end %>
              <%= yield %>
            </section>
          <% end %>
        </div>
        <div class="container">
          <div class="row footer">
            <div class="col-md-12">
              <%= render "shared/footer" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
